body {
    font-family: 'Montserrat', sans-serif;
}

.menu_b {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    width: 30px;
    height: 5px;
    background-color: rgb(220, 220, 220);
    
}

.hyperspan {
    position:absolute;
    width: 30px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

#top_s {
    background-color: olivedrab; /*Fallback*/
    background: linear-gradient(rgb(72,0,72,0.8), rgba(109, 58, 58, 0.8)), url(images/red_book_cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    padding-top: 200px;
    margin-bottom: 20px;
    color:rgb(236, 229, 229);
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    
}
.date {
    text-align: center;
    font-size:25px;
    color:rgb(236, 229, 229);
    padding-bottom: 200px;
}
.Bar{
    width: 20px;
    height: 4px;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
}

.content {
    overflow: hidden;
}

#left_side {
    width: 20%;
    height: 1000px;
    float: left;
}
#right_side {
    width: 20%;
    height: 1000px;
    float: right;
}

#center_part {
    width: 60%;
    float: left;
}

#btn_1 {
    position:relative;
    width: 46%;
    height: 60px;
    margin-left: 2.5%;
    background-color: rgb(255, 82, 82);
    float: left;
}
#btn_2 {
    position:relative;
    width: 46%;
    height: 60px;
    margin-right: 2.5%;
    background-color: rgb(255, 78, 78);
    float: right;
}

.top_btn_span {
    position: absolute;
    width: 100%;
    height: 60px;
}

#paragraph_1 {
    margin-top: 20px;
    width: 95%;
    margin-left: 2.5%;
    float: left;
}

.m_text {
    color: rgb(92, 92, 92);
    font-size: 26px;
    text-align: justify;
}

img {
    width: 95%;
    margin-left: 2.5%;
    float: left;
}

.heading_2 {
    border-bottom: solid lightcoral;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 2.5%;
    width: 95%;
    font-size: 35px;
    font-weight: bold;
    color: rgb(29, 29, 29);
    float: left;
}

#paragraph_2, #paragraph_3 {
    width: 95%;
    margin-left: 2.5%;
    float: left;
}

.footer{
    overflow: hidden;
}

#foot_heading {
    border-bottom: solid lightcoral;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 21.5%;
    width: 57%;
    font-size: 35px;
    font-weight: bold;
    color: rgb(29, 29, 29);
    float: left;
}

#sh_btn_1 {
    margin-left: 21.5%;
    width: 14.25%;
    height: 60px;
    background-color: rgb(66,103,178);
    float: left;
}

#sh_btn_2 {
    width: 14.25%;
    height: 60px;
    background-color: rgb(29,161,242);
    float: left;
}

#sh_btn_3 {
    width: 14.25%;
    height: 60px;
    background-color :rgb(219,50,54); 
    float: left;
}

#sh_btn_4 {
    width: 14.25%;
    height: 60px;
    background-color: rgb(200, 35, 44);
    float: left;
}

.btn_span {
    position: absolute;
    width: 14.25%;
    height: 60px;
}

#bottom_pad {
    width: 100%;
    height: 150px;
    margin-top: 80px;
    background-color: rgb(243, 243, 243);
    float: left;
}